html{
  background-image: url(photo/login\ bkg.jpg);
  background-repeat: none;
  background-size: cover;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #000000cb;
    height: 5rem;
    width: 100%;
    margin: 0;
    z-index: 3;
}

    .navigation {
        padding: 1.5rem 0 0 5rem;
    }
        .navigation a {
            margin: 5px;
            font-size: 1.2rem;
            text-decoration: none;
            color: white;

        }

        .navigation > a:hover {
            text-decoration: underline;
        }

footer {
    padding-top: 5px;
    background-color: rgb(0, 0, 0, 0.45);
    width: 100%;
    height: 40px;
    text-align: center;
}


/* FORM */

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #751515;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  text-align: center;
  padding: 0rem 30rem 10rem 30rem;
}
    a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
    }